@use '../abstracts/variables';

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 0.5rem;
}

label{
    font-size: variables.$font-size;
}

button{
    width: 75px;
    height: 50px;
    color: rgb(0, 0, 0);
    background-color: variables.$color-gray;
    font-size: variables.$font-size;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    outline: none;
}

button:hover{
    cursor: pointer;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
}